body { font-family: Helvetica,Arial; color:white; min-width: 410px; min-height: 333px; }

#_docwrite_login_small7 { white-space:normal; width:258px !important; display:inline-block; }
#showvault { vertical-align: top; }

#links { margin-left: -80px;}
