body { background-image:url(images/menu_bg.png);background-repeat: no-repeat; overflow:hidden; margin:0px; width:369px;
        font: 14px/1.3em "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
        margin: 0;
}

/*--- container border ---*/

.mainborder {
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 1px 1px 2px 2px #5e5e5e;

	
}

/*---- password generator ----*/

.textbox {
-webkit-border-radius: 4px 4px 4px 4px;
-webkit-box-shadow: inset 1px 1px 2px 1px #b3b3b3;

}

input[type="checkbox"] {
        margin-right: 8px;
        position: relative;
        top: -1px;
}
.pwoptions {
        font-size: 16px;
        font-weight: bold;
        font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
        text-shadow: 2px 2px 5px #ffffff;
        filter: dropshadow(color=#ffffff, offx=2, offy=2);
}

/*------scrollbar css --------*/

::-webkit-scrollbar {
	width: 10px;
	height: 15px;
}

::-webkit-scrollbar-thumb {
	width: 10px;
	background: hsla(0,0%,0%,0.15);
	-webkit-border-radius: 5px;
	-webkit-box-shadow:inset -2px 0px 5px hsla(0,0%,0%,0.3), inset 1px 0 0 hsla(0,0%,0%,0.2), inset -1px 0 0 hsla(0,0%,0%,0.2), inset 2px 0 0 hsla(0,0%,100%,0.4);
}

::-webkit-scrollbar-track {
	width: 10px;
	border-style: none;
	-webkit-box-shadow:inset 2px 0px 5px hsla(0,0%,0%,0.15), inset 1px 0 0 hsla(0,0%,0%,0.2);
	background-color: hsl(0,0%,93%);
}

#logoff { background-image:url(images/menu_logoff.png); height:19px; background-repeat: no-repeat; font: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; font-size: 12px; font-weight:bold; padding:0px 0px 3px 5px;

}

#logoff a:link,a:visited { color:white; text-decoration:none; text-shadow:1px 1px 2px #858585; }
#logoff a:hover { color:#F9F9F9; text-shadow:1px 1px 3px #3d8bff; text-decoration:underline }

/*------searchbox css --------*/

#search { background-image:url(images/menu_search.png); height:52px; background-repeat: no-repeat; margin: }
#search input { margin:5px; border-style:none; font-size:17px; display:inline; outline:none; }

.searchfield {
	-webkit-transition: all 0.30s ease-in-out;
	height: 29px;
	padding-left: 27px;
	border-radius: 15px;
	background: hsl(0,0%,100%) url(images/search-icon.gif) no-repeat 8px;
	-webkit-box-shadow: inset 0 1px 3px hsla(0,0%,0%,0.7), inset 0 -1px 0 hsla(0,0%,0%,0.1), 0 1px 0 hsla(0,0%,100%,0.3);
	border-style: none;
	font-size: 15px;
	width: 357px;
}


/*
.searchfield:focus {
	-webkit-box-shadow: 0 0 3px 1px hsla(210,100%,50%,0.8), inset 0 1px 3px hsla(0,0%,0%,0.7), inset 0 -1px 0 hsla(0,0%,0%,0.1), 0 1px 0 hsla(0,0%,100%,0.3);
}
*/
.searchglow {
       	-webkit-box-shadow:inset 0 1px 3px hsla(0,0%,0%,0.7), inset 0 -1px 0 hsla(0,0%,0%,0.1), 0 0 1px 3px hsla(210,100%,50%,0.8), 0 1px 0 hsla(0,0%,100%,0.3);
}

#searchxlink{ position:absolute; top:32px; left:330px; width:27px; height:26px; display:none; }
.waterclass { margin:-2px 0 10px 120px; color:gray; }

/*-- spacers --*/

#sites { height:313px; overflow:auto; }
#formfill { height:365px; overflow:auto; }
#gencont { height:354px; }
#genspacer { height:84px; }
#advspacer { height:46px; }
#btnrow { width:346px; margin:auto; padding-bottom:5px; height: 33px; padding-top:3px; }
#submenu { height:408px;}
#advtable { height:310px; overflow:auto; }
#advtable td { height:80px !important; overflow:hidden;}

.recenthidden   { display:none; }
.recenthshown   { display:table-row; }

.matchinghidden { display:none; }
.matchingshown  { display:table-row; }

.favshidden { display:none; }
.favsshown  { display:table-row; }

#nav { width: 369px; }
#nav span { white-space:nowrap; }

/*--- css password button ---*/

#generate { font-size:25px; color:SlateGray;
text-shadow: hsl(199%,63%,71%) 0 1px 1px;}
.genpw {
        border-radius: 5px;
        width: 240px;
        background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(0,0%,100%,0)), to(hsla(0,0%,0%,0.05)), color-stop(.65,hsla(0,0%,0%,0.15)));
        -webkit-box-shadow:inset 0px 1px 1px hsla(0,0%,0%,0.3), 0 1px 0 hsl(0,0%,100%), inset 0 -1px 0 hsla(0,0%,0%,0.1);
        padding: 5px 10px 2px;
        height: 40px;
        text-align: center;
        margin-bottom: 20px;
        border-style: none;
        font: bold 18px "Courier New", Courier, Lucida Console, mono;
        text-shadow: hsl(0,0%,100%) 0 1px 1px;
        color: hsl(0,0%,25%);
        -webkit-transition: font-size 0.25s linear;
        float: center;
}

.genbutton {
        -moz-box-shadow:inset 0px 1px 0px 0px #293347;
        -webkit-box-shadow:inset 0px 1px 0px 0px #293347;
        box-shadow:inset 0px 1px 0px 0px #293347;
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cadf2), color-stop(1, #2361de) );
        background:-moz-linear-gradient( center top, #8cadf2 5%, #2361de 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cadf2', endColorstr='#2361de');
        background-color:#8cadf2;
        -moz-border-radius:6px;x
        -webkit-border-radius:6px;
        border-radius:6px;
        border:1px solid #1045b0;
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:15px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:1px 1px 0px #335089;
		cursor:hand;
}.genbutton:hover {
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2361de), color-stop(1, #8cadf2) );
        background:-moz-linear-gradient( center top, #2361de 5%, #8cadf2 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2361de', endColorstr='#8cadf2');
        background-color:#2361de;
		cursor:hand;
}.genbutton:active {
        position:relative;
        top:1px;
		cursor:hand;
}


#advancedpage table { width:100%; }
#advancedpage td { height:100px; font-family: Helvetica Neue, Arial, Helvetica, sans-serif; font-size: 10px; text-align:center; }
#help { position:absolute; top:400px; left:335px; }

.navmenu { color:white; background-image:url(images/menu_navbg.png); background-repeat: no-repeat; }
.navmenu td { width: 17%; font-family: Arial; font-size: 10px; text-align:center; }

/*-- site row styles --*/
.backrow
{background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#158aff), color-stop(44%,#0b7ef1), color-stop(100%,#126eca));
color:white; text-shadow:1px 1px 2px #858585}



.submenustyle { width:100%;}
.submenustyle tr { height:30px; background-image:url(images/menu_sep.png); width:100%; }
.submenustyle td { font-size:14px; background:url(images/menu_arrow.png) no-repeat 335px 8px; cursor:hand; color:black;
	font-weight:bold;
	}
.submenustyle tr:hover {
	 background:-webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(234,234,234,1) 51%,rgba(246,246,246,1) 100%);
	 cursor:hand;
 }
.stdrow { width:100%;}
.stdrow tr { height:30px; background-image:url(images/menu_sep.png); width:100%; }
.stdrow td { font-size:14px; background:url(images/menu_arrow.png) no-repeat 335px 8px; cursor:hand; }
.stdrow tr:hover {
	 background:-webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(234,234,234,1) 51%,rgba(246,246,246,1) 100%);
	 cursor:hand;
 }

.sitefocus { -webkit-box-shadow:inset 0 1px 3px hsla(0,0%,0%,0.7), inset 0 -1px 0 hsla(0,0%,0%,0.1), 0 0 1px 3px hsla(210,100%,50%,0.8), 0 1px 0 hsla(0,0%,100%,0.3); }

.titlerow td { 
	-webkit-transition: background 100ms ease-in-out;
	color:white;
	font-weight:bold;
	text-shadow:1px 1px 2px #858585;
 	background: -webkit-linear-gradient(top, rgba(32,188,232,1) 0%,rgba(0,119,232,1) 100%);
	cursor:hand;
	-webkit-box-shadow:inset 0px 1px 0px 0px #293347;
	
  }.titlerow td:hover {
	 background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#158aff), color-stop(44%,#0b7ef1), color-stop(100%,#126eca));
	 cursor:hand;
 }

.icon { padding:0 5px; }
.pagetitle { color:white; background-image:url(images/menu_titlebg.png); font-size:24px; font-weight:bold; height:52px; text-align:center; line-height:50px;
text-shadow:1px 1px 2px #858585
}

/*--- small buttons ---*/
.btntxt {
    display:block;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-weight:bold;
	font-size: 12px;
	color: #ffffff;
	padding: 4px 12px 4px;
	background: -webkit-linear-gradient(top, rgba(32,188,232,1) 0%,rgba(0,119,232,1) 100%);
	-webkit-border-radius: 30px;
	border: 2px solid #ffffff;
	-webkit-box-shadow:
		0px 3px 11px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(005,000,004,1);
	text-shadow:1px 1px 2px #858585;
        white-space:nowrap;
}


.btntxt:hover {
	cursor:hand;
	 background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#158aff), color-stop(44%,#0b7ef1), color-stop(100%,#126eca));
}

#advtable a { color:black; text-decoration:none; font-size: 11px;}

.pwoptions input { margin:7px 4px; }
