/* popup table css */
/* was: td {  */
#lptabpopup tr,#lptabpopupformfills tr,#lptabpopupnever tr,#lptabpopupmore tr { 
  font-size:14px; 
  font-family: Helvetica, Arial, sans-serif; font-weight:normal;   /* nolonger bold */
  z-index:10000;
  overflow:auto;
  /* doesn't seem to work ?
  overflow:hidden;
  text-overflow:ellipsis;
  */
  margin:1px;
  padding:0;
}

#lptabpopup td, #lptabpopupformfills td, #lptabpopupnever td, #lptabpopupmore td{
  border: 1px solid transparent;
}


/* was td:hover {  */
/* original, based on combobox.css:
** #lptabpopup tr:hover, #lptabpopupformfills tr:hover, #lptabpopupnever tr:hover, #lptabpopupmore tr:hover{ 
** background: #0399d4 !important;
**         background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba)) !important;
**         color: #fff !important;
**         -webkit-border-radius: 0;
**         -moz-border-radius: 0;
**         text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
** }
*/
/* implement the new, aseptic 29thdrive hover */ 
#lptabpopup tr:hover, #lptabpopupformfills tr:hover, #lptabpopupnever tr:hover, #lptabpopupmore tr:hover{ 
background: #fff !important;
        color: #000 !important;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
        border: 1px solid #d6d6d6;
}
/* turns out, you have to set outline on the td, not the tr */
#lptabpopup td:hover, #lptabpopupformfills td:hover, #lptabpopupnever td:hover, #lptabpopupmore td:hover{ 
        outline: 1px solid gray;
        outline-offset: 1px;
}

#lptabpopupmore{
  padding-left: 10px;
}


#lptabpopupnavbar td:hover{
  background: #d32d27 !important;
  opacity: .8;
}

#lptabpopupnavbar td{
  opacity: .6;
}
#lptabpopupnavbar td.selected{
  background: #d32d27 !important;
  opacity: 1;
}


#lptabpopup,#lptabpopupformfills{
  width:100%;
}



table {
 padding:0px;
 margin-left:2px; margin-top:2px;
 margin-right:2px;
}

body,#main { margin:1px; 
/*  border:thin dotted; */
  /* background: #919191 !important; /* for non-css3 browsers */
  /* background: -webkit-gradient(linear, left top, left bottom, from(#a9a9a9), to(#7a7a7a)); /* for webkit browsers */
  background: #fff !important;
  font-weight: bold;
  color: #000 !important;
  /* color: #e7e5e5; */
  cursor:default;
  text-align:left;
  font-size:14px;

  overflow:hidden;
/* put the border styling on the iframe itself, in source web-page context,
  rather than here inside the iframe. The scrollbar ends up outside of this border.
  border-color: #000 !important;
  border-style: solid !important;
  border-width: 2px;  */
}
a {
  color: #e7e5e5;
  text-decoration:none;
}
a:focus { 
background: #0399d4 !important; /* for non-css3 browsers */
        background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba)) !important; /* for webkit browsers */
        color: #fff !important;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.tablerow_firstaction {
border-top: solid 2px black;
}

.tablerow_sep {
height:4px; 
line-height:4px;
border-top: solid 2px black;
}
/* next class is for label/descriptive text in the generate password subtab only */
.gendivtext { font-size:14px; 
  font-family: Helvetica, Arial, sans-serif; font-weight:bold;
  z-index:10000;
  overflow:auto;
  margin-left:5px;
  margin-top:1px;
  margin-right:1px;
  margin-bottom:1px;
  padding:0;
}
#askMsgDiv {
  margin:5px;  /* this seems right */
}
.divtext { font-size:14px; 
  font-family: Helvetica, Arial, sans-serif; font-weight:normal;  /* bold looks like shouting */
  z-index:10000;
  overflow:auto;
  margin-left:5px;
  margin-right:1px;
  margin-top:1px;
  margin-bottom:1px;
  padding:0;
}
.divtext:hover {
/* keep in sync with 29th drive hover style
** .divtext:hover {
**      background: #0399d4 !important; /* for non-css3 browsers */
**      background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba)) !important; /* for webkit browsers */
**      color: #fff !important;
**      -webkit-border-radius: 0;
**      -moz-border-radius: 0;
**      text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
*/
        background: #fff !important;
        color: #000 !important;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
        border: 1px solid #d6d6d6;
        outline: 1px solid gray;
        /* outline-offset: 1px;*/
}

.underline {
  text-decoration:underline;  /* seems more useful to users, enable by setting g_underline_text_action */
}
.savegendiv {   /* extend divtext class */
  vertical-align:top;
  margin-left: 0px;
}

/* copied from lp_toolstrip.css to retain look/feel ?*/
/* #generate {text-align:center;padding:0 20px;color:#123272;} */


#popupcontainer, #popupcontainerff {
  overflow-y: auto;
  overflow-x: hidden;
}

/* use key events to replicate hover */
/* original styling based on combobox.css
**.showfocus {
**        background: #0399d4 !important;
**        background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba)) !important;
**        color: #fff !important;
**        -webkit-border-radius: 0;
**        -moz-border-radius: 0;
**        text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
**}
*/
.showfocus {
        background: #fff !important;
        color: #000 !important;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
        outline: 1px solid gray;
        outline-offset: 1px;
}

/* the title bar */
.titlebar {
  background: #919191 !important; /* for non-css3 browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#a9a9a9), to(#7a7a7a)); /* for webkit browsers */
  color: #e7e5e5;
  text-align:left;
  height:13px;
  font-size:11px;  /* might be too small.  to increase, change height in titlebar, titlebar div, titlebarx */
  width:100%;
}
.titlebar div {
  border:1px;
  border-color: #fff;
  line-height:13px;
}

.titlebarx {
  background:url('images/xsmall.png') no-repeat;
  background-position:center;
  line-height:13px;
  width:13px;
  height:13px;
  vertical-align:top;
  float:right;
}
.titlebarx:hover {
  background-image:url('images/xsmallroll.png');
  cursor: pointer;
}
.titlebarhelp {
/* This doesn't look good.  use a question mark instead?
  background:url('images/icon_help.png') no-repeat;
  background-position:center; */
  line-height:13px;
  width:13px;
  height:13px;
  vertical-align:top;
  float:right;
}

.searchbox {
  text-align:left;
}
.searchbox:hover {
  background: #fff !important;
  font-weight: bold;
  color: #000 !important;
}

#exttable {
  font-size:11px;  /* might be too small, but hard to squeeze everything in */
}
#exttable td { font-size:11px; 
  font-family: Helvetica, Arial, sans-serif; font-weight:bold;
  z-index:10000;
  overflow: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin:1px;
  padding:0;
}
.popcell {
  vertical-align:top;
  padding-top:2px;
  display:inline;
}
/* color reused from tooltip.  can't think of anything better
** .highlight {  
**   background: #9FDAEE !important;
**   vertical-align:top;
**   color: #000 !important;
** }
*/
/* 29th drive mockup underlines instead of highlight */
.highlight {  
  text-decoration:underline !important;
  vertical-align:top;
}

/* for the searchbox, copy from popover.css */

#search { height:30px; margin:0; margin-top:-2px; }  /* -2 for now */
#search input { margin:5px; border-style:none; font-size:15px; display:inline; outline:none; width: 90%; }

.searchfield {
        -webkit-transition: all 0.30s ease-in-out;
        height: 22px;
        padding-left: 27px;
        border-radius: 15px;
        background: hsl(0,0%,100%) url(images/search-icon.gif) no-repeat 8px;
        -webkit-box-shadow: inset 0 1px 3px hsla(0,0%,0%,0.7), inset 0 -1px 0 hsla(0,0%,0%,0.1), 0 1px 0 hsla(0,0%,100%,0.3);
        border-style: none;
        font-size: 15px;
}

.searchglow {
        -webkit-box-shadow:inset 0 1px 3px hsla(0,0%,0%,0.7), inset 0 -1px 0 hsla(0,0%,0%,0.1), 0 0 1px 3px hsla(210,100%,50%,0.8), 0 1px 0 hsla(0,0%,100%,0.3);
}

#searchxlink{ position:absolute; top:21px; left:330px; width:27px; height:26px; }
.waterclass { margin:-2px 0 10px 120px; color:gray; }

#searchtab {
 padding:0px;
 margin-top:0px;
}

/* next chunk of css rules are for tooltips; originally from:
** http://sixrevisions.com/css/css-only-tooltips/
*/
.tooltip {
        border-bottom: 1px dotted #000; color: #000 !important; outline: none;
        cursor: help; text-decoration: none;
        position: relative;
}

.tiplabel {
  color: #000 !important;
  text-decoration: none;
  cursor:help;
}
.tooltip span {
        margin-left: -999em;
        position: absolute;
        opacity:0;
        top: 1.4em;
        left: 0.5em;
        width:200px;
        text-decoration:none !important;
        border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
        -moz-transition-property:opacity; -moz-transition-duration:1s; -webkit-transition-property:opacity; -webkit-transition-duration:1s; 
        z-index: 100;
}
.tooltipright {
        border-bottom: 1px dotted #000; color: #000 !important; outline: none;
        cursor: help; text-decoration: none;
        position: relative;
}
.tooltipright span {
        margin-left: -999em;
        position: absolute;
        opacity:0;
        top: 1.4em;
        left: -10em;
        width:200px;
        text-decoration:none !important;
        border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
        -moz-transition-property:opacity; -moz-transition-duration:1s; -webkit-transition-property:opacity; -webkit-transition-duration:1s; 
        z-index: 100;
}

/* this displays the triangle to latch onto tooltip box
.tooltip:hover span:before {
  content:'';
  width:0px;
  height:0px;
  position:absolute;
  border-style: solid;
  border-color: #2BB0D7 transparent transparent transparent;
  border-width: 8px;
  left: 20px;
  bottom: 0px;
}
*/
.tooltip:hover span {
        margin-left: 0;
        font-family: Helvetica,Arial, sans serif;
        font-weight: normal;
        font-size:12px; 
        opacity:1;
}
.tooltipright:hover span {
        margin-left: 0;
        font-family: Helvetica,Arial, sans serif;
        font-weight: normal;
        font-size:12px; 
        opacity:1;
}

.classic { padding: 0.4em 0.4em; }
/*.classic {background: #FFFFAA; border: 1px solid #FFAD33; color: #000 !important; }*/
.classic { background: #9FDAEE; border: 1px solid #2BB0D7; color: #000 !important; }

/* next 2 CSS classes are for asking the user what to do with a newly generated password */
.icobullet td {
  margin-left:0px; 
}
.icobullet td:hover {
  background: #fff !important;  /* looks awkward */
}
/* next class is for the SPAN container containing visual cue/arrow on site/formfill rows.  was originally 'expando' */
.expander {
  padding-left:2px; 
  padding-right:2px; 
  float:right;
}
/* can't figure out a good way to make this align vertically, otherwise */
/* these numbers are only good for arrow.png
.expander img {
  padding-top: 5px;  
  padding-bottom: 5px;
} */
.expander img {  /* for 16x16 */
  padding-top: 1px;  
}
#lptabpopuptitlespan{
  padding-left:10px;
}
.stdffopts{
  padding-left:10px;
}
/*input#special{ */
.specialnotadv{  /* assign to input#special only when g_special_is_advanced is true */
  margin-left:15px;
}
input#mindigits{
  margin-left:10px;
}
#LPPopup{
  padding:0px;
}
.tooltiphelp {
        border-bottom: 1px ; color: #000 !important; outline: none;
        cursor: help; text-decoration: none;
        font-size:13px;
}
.tooltiphelp #tthelp  {
        margin-left: -999em;
        position: absolute;
        opacity:0;
        top: 2em;
        left: 2em;
        width:220px;   /* case: popup could be thinner than 220 pixels, and this will suck */
        overflow:auto;
        text-decoration:none !important;
        border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
        -moz-transition-property:opacity; -moz-transition-duration:1s; -webkit-transition-property:opacity; -webkit-transition-duration:1s; 
        z-index: 100;
}
.tooltiphelp:hover #tthelp {
        margin-left: 0;
        font-family: Helvetica,Arial, sans serif;
        font-weight: normal;
        font-size:12px; 
        overflow:auto;
        opacity:1;
}
.row{
  display: table-row;
  font-weight: normal;
}
.saveinput{
  width: 300px;
  height: 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border-color:#eeeeee;
}
/* dup hover glow effect from site.css */
.saveinput:focus, .saveinput:hover, #savesubmit:focus, #savesubmit:hover {
  border-color: #C9C9C9;
  -webkit-box-shadow: rgba(0, 198, 255, 0.40) 0px 0px 8px;
  }

#lptabpopupsave{
  padding:5px;
}
#lptabpopupsave p{
  font-family: Helvetica, Arial, sans-serif; font-weight:bold;
  font-size:15px;
  color:#000;
  margin:2px;
}
#lptabpopupsave span{
  display:block;
}
#savesubmit, #deleteyes, #deleteno {
  padding:10px;
  margin-top:10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
.simplebar {
  color:#000;
  background-color:#f2f2f2;
  border-top: 1px solid #666;
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #666;
  border-right: 1px solid #CCC;
  height: 20px;
  font-size:14px; 
  font-family: Helvetica, Arial, sans-serif; font-weight:bold;
  z-index:10000;
  overflow:auto;
  text-align:center;
}
/* reverse border colors to simulate bevel */
.simplebar:hover {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #666;
  border-left: 1px solid #CCC;
  border-right: 1px solid #666;
}


#lptabnavbarbtn { 
  background: #bbb;
  width:100%; position:absolute; left:0px; bottom:0px; margin: 0px; border-spacing: 0;
}
#lptabnavbarbtn:hover { 
  background: #aaa;
}
#lptabnavbarbtn div {
    margin:auto;
}

.shortenstr {  /* I hate CSS */
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
  display:inline-block;
}
#lptabnavbarbtn span { 
  color:white;
  padding-left:10px;
}

#generatebutton{
  padding-left: 10px;
  vertical-align:top;
}

/* based against
** http://www.spiceupyourblog.com/2011/05/simple-css-only-tooltip-descriptions.html
*/
.tooltipsuper
{
position: relative;
/*background: #eaeaea;*/
cursor: help;
display: inline-block;
text-decoration: none;
/*color: #222;*/
outline: none;
}

.tooltipsuper span
{
visibility: hidden;
position: absolute;
bottom: 35px;
left: 50%;
text-align: center;
z-index: 999;
width: 100px;
font-size:12px;
font-family: Helvetica, Arial, sans-serif; font-weight:bold;
margin-left: -90px;
padding: 2px;
border: 1px solid #000;
opacity: .9;
line-height:14px;
color:#fff;
background-color: #000;
/*
background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
*/
-moz-border-radius: 4px;
border-radius: 4px;
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
text-shadow: 0 1px 0 rgba(255,255,255,.4);
}

.tooltipsuper:hover
{
border: 0; /* IE6 fix */
}

.tooltipsuper:hover span
{
visibility: visible;
}

.tooltipsuper span:before,
.tooltipsuper span:after
{
content: "";
position: absolute;
z-index: 1000;
bottom: -7px;
left: 85%;  /* change tooltipsuper span margin-left & width if you change this */
margin-left: -8px;
border-top: 8px solid #000;
border-left: 8px solid transparent;
border-right: 8px solid transparent;
border-bottom: 0;
}

.tooltipsuper span:before
{
border-top-color: #000;
bottom: -8px;
}

#superbox_savesite_txt_span {
  padding-left:5px;
  color: #888;
  font-weight: normal;
}
/* for the superbox, intended to be highlight effect */
.shade
{
background-color: #d0d0d0;
color:#404040;
}

/* take advantage of more space for the savesite div, which is needed
** because the string is longer
*/
.tooltipsuperlong
{
position: relative;
/*background: #eaeaea;*/
cursor: help;
display: inline-block;
text-decoration: none;
/*color: #222;*/
outline: none;
}

.tooltipsuperlong span
{
visibility: hidden;
position: absolute;
bottom: 35px;
left: 50%;
text-align: center;
z-index: 999;
width: 150px;
font-size:12px;
font-family: Helvetica, Arial, sans-serif; font-weight:bold;
margin-left: -140px;
padding: 2px;
border: 1px solid #000;
opacity: .9;
line-height:14px;
color:#fff;
background-color: #000;
/*
background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
*/
-moz-border-radius: 4px;
border-radius: 4px;
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
text-shadow: 0 1px 0 rgba(255,255,255,.4);
}

.tooltipsuperlong:hover
{
border: 0; /* IE6 fix */
}

.tooltipsuperlong:hover span
{
visibility: visible;
}

.tooltipsuperlong span:before,
.tooltipsuperlong span:after
{
content: "";
position: absolute;
z-index: 1000;
bottom: -7px;
left: 90%;  /* change tooltipsuperlong span margin-left & width if you change this */
margin-left: -8px;
border-top: 8px solid #000;
border-left: 8px solid transparent;
border-right: 8px solid transparent;
border-bottom: 0;
}

.tooltipsuperlong span:before
{
border-top-color: #000;
bottom: -8px;
}

#lpgenerate{
  width: 100%;
}
#generate{
  overflow: hidden;
}
.dropStyle{
  padding: 2px 0px;
}
.dropStyle div{
  font-size:14px;
  font-weight: normal;
  color:white;
  padding:1px 0px;
}
#advancedoptions {  /* 250px width is ok in English. compute it dynamically to support other languages */
  /*text-align:left;background:#fff;padding:5px;border:1px solid #ccc;width:250px;margin-top:5px;*/
  text-align:left;background:#fff;padding:5px;border:1px solid #ccc;margin-top:5px;
}
#advancedoptions div{
  padding: 2px;
}

/**************** for savesite iframe ****************/
.tooltipshowpassword
{
position: relative;
/*background: #eaeaea;*/
cursor: help;
display: inline-block;
text-decoration: none;
/*color: #222;*/
outline: none;
}

.tooltipshowpassword span
{
visibility: hidden;
position: absolute;
top:32px;
text-align: center;
z-index: 999;
width: 150px;
font-size:12px;
font-family: Helvetica, Arial, sans-serif; font-weight:bold;
margin-left: -110px;
padding: 2px;
border: 1px solid #000;
opacity: .9;
line-height:14px;
color:#fff;
background-color: #000;
/*
background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
*/
-moz-border-radius: 4px;
border-radius: 4px;
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
text-shadow: 0 1px 0 rgba(255,255,255,.4);
}

.tooltipshowpassword:hover
{
border: 0; /* IE6 fix */
}

.tooltipshowpassword:hover span
{
visibility: visible;
}

.tooltipshowpassword span:after
{
content: "";
position: absolute;
z-index: 1000;
top: -8px;
left: 85%; /* change tooltipshowpassword span margin-left & width if you change this */
margin-left: -10px;
border-bottom: 8px solid #000;
border-left: 8px solid transparent;
border-right: 8px solid transparent;
border-top: 0;
}

.tooltipshowpassword span:after
{
border-top-color: #000;
}

/**************** for generate and save-a-site iframe ****************/
.tooltipgen1
{
position: relative;
/*background: #eaeaea;*/
cursor: help;
display: inline-block;
text-decoration: none;
color: #000;
outline: none;
}

.tooltipgen1 span
{
visibility: hidden;
position: absolute;
bottom: 22px;
text-align: center;
z-index: 999;
width: 200px;
font-size:12px;
font-family: Helvetica, Arial, sans-serif; font-weight:bold;
margin-left: 0px;  /* was -175px when the tooltip span follows the label.
                   ** life is simpler when moving the tooltip span before it.
                   */
padding: 2px;
border: 1px solid #000;
opacity: .9;
line-height:14px;
color:#fff;
background-color: #000;
/*
background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
*/
-moz-border-radius: 4px;
border-radius: 4px;
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
text-shadow: 0 1px 0 rgba(255,255,255,.4);
}

.tooltipgen1:hover
{
border: 0; /* IE6 fix */
}

.tooltipgen1:hover span
{
visibility: visible;
}

.tooltipgen1 span:after
{
content: "";
position: absolute;
z-index: 1000;
bottom: -9px;
left: 15%; /* change tooltipgen1 span margin-left & width if you change this */
margin-left: -8px;
border-top: 8px solid #000;
border-left: 8px solid transparent;
border-right: 8px solid transparent;
border-bottom: 0;
}


.moreMsg {
  margin-left:8px;
  margin-top:8px;
  margin-bottom:0px;
}

.moreMsg p {
  font-family: Helvetica, Arial, sans-serif; font-weight:bold;
  font-size:15px;
  color:#000;
  margin:2px;
  text-align:left;
}

.cc{
  padding-left: 6px;
}
